
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="<?php echo site_url('student/index') ?>">首页</a><span class="crumb-step">&gt;</span><span>添加课程记录</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="<?php echo site_url('student/addRecord') ?>" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>

                          <tr>
                              <th><i class="require-red">*</i>课程名字：</th>
                              <td>
                               <table border="0">
           <tr>
                 <?php foreach ($course as $v): ?>
                 <td>  <label>  <input class="common-text required" id="title" name="course" size="10" value="<?php echo $v ['cname'] ?>" type="radio"><?php echo $v ['cname'] ?></label>&nbsp&nbsp</td>

                                    <?php endforeach ?>
                          </tr>
                      </table>
                              </td>
                          </tr>


                          <tr>
                            <th width="120"><i class="require-red">*</i>学生姓名：</th>
                            <td>
                               <input class="common-text" type="text" name="stuname" size="30">
                                 <?php echo form_error('stuname','<span>','</span>') ?>
                            </td>
                        </tr>
                        <tr>
                          <th><i class="require-red">*</i>任课老师：</th>
                            <td><input class="common-text" name="teacher" size="30" type="text">
                             <?php echo form_error('teacher','<span>','</span>') ?></td>
                        </tr>
                        <tr>
                            <th>上课内容：</th>
                            <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea>
                             <?php echo form_error('content','<span>','</span>') ?></td>
                        </tr>
                        <tr>
                          <th><i class="require-red">*</i>上课时间：</th>
                            <td><input class="common-text" name="date" size="20" value="" type="date">
                             <?php echo form_error('date','<span>','</span>') ?></td>
                        </tr>

                            <tr>
                                <th><i class="require-red">*</i>上课地点：</th>
                                <td><input class="common-text" name="address" id="" type="text" size="50">
                                 <?php echo form_error('address','<span>','</span>') ?></td>
                            </tr>

                             <tr>
                                <th><i class="require-red">*</i>本次课程时长：</th>
                                <td><input class="common-text" name="time" id="" type="text">
                                 <?php echo form_error('time','<span>','</span>') ?></td>
                            </tr>

                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
