
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>序号</th>
                            <th>组织机构</th>
                            <th>联系人</th>
                            <th>电话</th>
                            <th>地址</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>

<?php foreach ($schMessage as $v): ?>
                <tr>
                    <td> <?php echo $v ['cid'] ?></td>
                    <td>
                         <a target="_blank" href="<?php echo site_url('school/findschoolTable/'.$v ['schname']) ?>" ><?php echo $v ['schname'] ?>
                           </a>
                    </td>
                    <td><?php echo $v ['kpeople'] ?></td>
                    <td><?php echo $v ['phone'] ?></td>
                    <td><?php echo $v ['adreess'] ?></td>
                    <td><?php echo $v ['content'] ?></td>
                       <td>
                      <a class="link-update" href="#">修改</a>
                        <a class="link-del" href="#">删除</a>
                    </td>
                </tr>
            <?php endforeach ?>
                    </table>
                        <div class="list-page"><?php echo $links ?></div>
                </div>
            </form>
        </div>
    </div>
