

    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="<?php echo site_url('student/index') ?>">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">查找学校</span></div>
        </div>
    <div class="container">

    		<div class="col-md-12 column">
    			<h3 class="text-center">
    				基本信息
    			</h3>
    	</div>

    	<div class="row clearfix">
    		<div class="col-md-8 column">
    			<div class="panel ">
    				<div class="panel-heading">

      <?php foreach ($schMessage as $item):?>

			<table class="table table-bordered table-hover">
          <tbody>
					<tr>

						<th class="info">
							组织机构名称
						</th>
						<td  class="">
              <?php
                echo $item['schname'];
              ?>
						</td>
					</tr>


					<tr>
						<th class="info">
							联系人
						</th>
						<td  class="">
              <?php
                echo $item['kpeople'];
              ?>

						</td>
					</tr>
					<tr >
						<th class="info">
							电话
						</th>
						<td  class="">
              <?php
                echo $item['phone'];
              ?>
						</td>
					</tr>
					<tr>
						<th  class="info" >
							地址
						</th>
						<td  class="">
              <?php
                echo $item['adreess'];
              ?>
						</td>
					</tr>
					<tr >
						<th class="info">
					备注
						</th>
						<td  class="">
              <?php
                echo $item['content'];
              ?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
    					</h3>
                 <?php endforeach;?>



    			<h3 class="text-center">
    			  合作业务
    			</h3>
    			<table class="table table-striped">
    				<thead>
    					<tr >
    						<th>
    							编号
    						</th>
    						<th>
    							机构名称
    						</th>
    						<th>
    							类型
    						</th>
    						<th>
    							型号
    						</th>
                <th>
    							详细说明
    						</th>
                 <th>
                数量
                </th>
                <th>
                单价
               </th>
               <th>
               总价
              </th>
               <th>
               引流
              </th>
              <th>
              销售
             </th>
             <th>
             时间
            </th>
            <th>
            备注
           </th>
    					</tr>
    				</thead>
    				<tbody>
            <?php foreach ($busMess as $item):?>
    					<tr class="warning">
    						<td>
                  <?php
                    echo $item['bid'];
                  ?>
    						</td>
    						<td>
                  <?php
                    echo $item['schname'];
                  ?>
    						</td>
    						<td>
                  <?php
                    echo $item['type'];
                  ?>
    						</td>
    						<td>
                  <?php
                    echo $item['model'];
                  ?>
    						</td>
                <td>
                  <?php
                    echo $item['description'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['quantity'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['price']."(元)";
                  ?>
                </td>
                <td>
                  <?php
                    echo ($item['quantity'])*($item['price'])."(元)";
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['escort'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['sale'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['time'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['content'];
                  ?>
                </td>
    					</tr>
    					   <?php endforeach;?>
    				</tbody>
    			</table>
    		</div>


    		<!-- <div class="col-md-6 column">
    			<h3>
    				备注
    			</h3>
    			<p>
    				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
    			</p>
    		</div> -->
    	</div>
    </div>
</div>
