
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="<?php echo site_url('student/index') ?>">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">查找学员</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="<?php echo site_url('student/findStu') ?>" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">  </th>
                            <td>
                                <!-- <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select> -->
                                    <h4>输入姓名查找学员</h4>
                            </td>
                            <th></th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    <div class="container">

    		<div class="col-md-12 column">
    			<h3 class="text-center">
    				个人信息
    			</h3>
    	</div>

    	<div class="row clearfix">
    		<div class="col-md-8 column">
    			<div class="panel ">
    				<div class="panel-heading">

      <?php foreach ($stuMessage as $item):?>

			<table class="table table-bordered table-hover">
          <tbody>
					<tr>

						<th class="info">
							姓名
						</th>
						<td  class="success">
              <?php
                echo $item['name'];
              ?>
						</td>
					</tr>


					<tr>
						<th class="info">
							性别
						</th>
						<td  class="success">
              <?php
                echo $item['sex'];
              ?>

						</td>
					</tr>
					<tr >
						<th class="info">
							出生年月
						</th>
						<td  class="success">
              <?php
                echo $item['birthday'];
              ?>
						</td>
					</tr>
					<tr>
						<th  class="info" >
							家长姓名
						</th>
						<td  class="success">
              <?php
                echo $item['parentname'];
              ?>
						</td>
					</tr>
					<tr >
						<th class="info">
							联系电话
						</th>
						<td  class="success">
              <?php
                echo $item['phone'];
              ?>
						</td>
					</tr>
          <tr >
						<th class="info">
							家庭住址
						</th>
						<td  class="success">
              <?php
                echo $item['adreess'];
              ?>
						</td>
					</tr>
          <tr >
						<th class="info">
							备注
						</th>
						<td  class="success">
              <?php
                echo $item['remarks'];
              ?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
    					</h3>
    				</div>

                   <?php endforeach;?>
    			</div>
    		</div>
          <hr>
    	<div class="row clearfix">
    		<div class="col-md-6 column">
    			<h3 class="text-center">
    				已报课程
    			</h3>
    			<table class="table table-striped">
    				<thead>
    					<tr >
    						<th>
    							编号
    						</th>
    						<th>
    							课程名字
    						</th>
    						<th>
    							已上课时
    						</th>
    						<th>
    							剩余课时
    						</th>
                <th>
    							主课老师
    						</th>
                 <th>
                引流
                </th>
                <th>
                  销售
               </th>
               <th>
             已消费金额
              </th>
    					</tr>
    				</thead>
    				<tbody>
            <?php foreach ($courseMess as $item):?>
    					<tr class="warning">
    						<td>
    		  <?php  static $i =0; $i=$i+1; echo "$i" ?>
    						</td>
    						<td>
                  <?php
                    echo $item['course'];
                  ?>
    						</td>
    						<td>
                  <?php
                    echo $item['dperiod']."小时";
                  ?>
    						</td>
    						<td>
                  <?php
                    echo $item['period']."小时";
                  ?>
    						</td>
                <td>
                  <?php
                    echo $item['teacher'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['escort'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['sale'];
                  ?>
                </td>
                <td>
                  <?php
                    echo $item['money']."元";
                  ?>
                </td>
    					</tr>
    					   <?php endforeach;?>
    				</tbody>
    			</table>
    		</div>

  <hr>
        <div class="col-md-6 column">
  <h3 class="text-center">
    课程记录表
  </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          编号
        </th>
        <th>
          学生姓名
        </th>
        <th>
          所学课程
        </th>
        <th>
          任课老师
        </th>
        <th>
          课程内容
        </th>
        <th>
          上课时间
        </th>
        <th>
          上课地点
        </th>
        <th>
          上课时长
        </th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($crecord as $item):?>
      <tr class="success">
        <td>
  <?php  static $a =0; $a=$a+1; echo "$a" ?>
        </td>
        <td>
          <?php
            echo $item['stuname'];
          ?>
        </td>
        <td>
          <?php
            echo $item['course'];
          ?>
        </td>
        <td>
          <?php
            echo $item['tename'];
          ?>
        </td>
        <td>
          <?php
            echo $item['tecontent'];
          ?>
        </td>
        <td>
          <?php
            echo $item['tetime'];
          ?>
        </td>
        <td>
          <?php
            echo $item['teadress'];
          ?>
        </td>
        <td>
          <?php
            echo $item['hours']."小时";
          ?>
        </td>
      </tr>

        <?php endforeach;?>
    </tbody>
  </table>
</div>
    		<!-- <div class="col-md-6 column">
    			<h3>
    				备注
    			</h3>
    			<p>
    				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 <small>Ruby</small> 社区中。
    			</p>
    		</div> -->
    	</div>
    </div>
