  <!--/sidebar-->
    <div class="main-wrap">
        <div class="result-wrap">
            <div class="result-title">
                <h1>上课基本信息</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">学员总数</label><span class="res-info"><?php echo $stunum;?>人</span>
                    </li>
                    <li>
                        <label class="res-lab">合作机构总数</label><span class="res-info"><?php echo $schnum;?>家</span>
                    </li>
                    <li>
                        <label class="res-lab">本周上课人数</label><span class="res-info"><?php echo $attendstu;?>人</span>
                    </li>
                    <li>
                        <label class="res-lab">本周上课老师人数</label><span class="res-info"><?php echo $attendtec;?>人</span>
                    </li>
                    <li>
                        <label class="res-lab">今天是全年中的第</label><span class="res-info"><?php echo date('z');?>天</span>
                    </li>
                    <li>
                        <label class="res-lab">今天是本月中的第</label><span class="res-info"><?php echo date('j');?>天</span>
                    </li>
                    <li>
                        <label class="res-lab">北京时间</label><span class="res-info"><?php echo $date;?>天</span>
                    </li>
                    <li>
                        <label class="res-lab">星期</label><span class="res-info"><?php echo $dayStr;?></span>
                    </li>

                </ul>
            </div>
        </div>
        <!-- <div class="result-wrap">
            <div class="result-title">
                <h1>使用帮助</h1>
            </div>
            <!-- <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">官方交流网站：</label><span class="res-info"></span>
                    </li>
                    <li>
                        <label class="res-lab">官方交流QQ群：</label><span class="res-info"><a class="qq-link" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=4ba39c297a33fa548de56a257f6128c7c9e3dd14473e4c86557d93f2197c33e8"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="JS-前端开发" title="JS-前端开发"></a> </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/main-->
