<div class="main-wrap">
		<div class="crumb-wrap">
				<div class="crumb-list"><i class="icon-font">&#xe06b;</i>欢迎使用『慕客信』学员管理系统，ALL3创客教育先行者。</div>
		</div>
		<div class="result-wrap">
				<div class="result-title">
						<h1>快捷操作</h1>
				</div>
				<div class="result-content">
						<div class="short-wrap">
								<a href="<?php echo site_url('student/addRecord') ?>"><i class="icon-font">&#xe001;</i>添加上课记录</a>
								<a href="<?php echo site_url('student/weekend') ?>"><i class="icon-font">&#xe048;</i>本周上课情况</a>
								<a href="<?php echo site_url('student/insertStuView') ?>"><i class="icon-font">&#xe041;</i>添加新学员</a>
								<a href="<?php echo site_url('student/findStuView') ?>"><i class="icon-font">&#xe01e;</i>查找学员</a>
						</div>
				</div>
		</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h3 class="text-center">
				本周上课情况
			</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							待上课学生
						</th>
						<th>
							待上课程
						</th>
						<th>
							待上课老师
						</th>
            <th>
							已上课时
						</th>
            <th>
							剩余课时
						</th>
					</tr>
				</thead>
				<tbody>
    <?php foreach ($message as $item):?>
    <tr class="success">
      <td>
<?php  static $a =0; $a=$a+1; echo "$a" ?>
      </td>
      <td>
        <?php
          echo $item['stuname'];
        ?>
      </td>
      <td>
        <?php
          echo $item['course'];
        ?>
      </td>
      <td>
        <?php
          echo $item['teacher'];
        ?>
      </td>
      <td>
        <?php
          echo $item['period']."小时";
        ?>
      </td>
      <td>
        <?php
          echo $item['dperiod']."小时";
        ?>
      </td>
    </tr>

      <?php endforeach;?>
				</tbody>
			</table>
		</div>
	</div>
</div>
